*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
div{
	display: block;
	border: 3px solid #000;
	width: 250px; 
	height:280px;
	margin: 5px;
	float: left;
}
div img{
	width: 225px;
	height: 255px;
	margin: 10px;
}